---
import type { RecipeSchema } from '../types/Recipe';
import RecipeKeyDetails from './RecipeKeyDetails.astro';
import RelatedRecipes from './RelatedRecipes.astro';

interface Props extends RecipeSchema {}

const {
  title,
  feature_image,
  ingredients_sections,
  cookingTimeInMins,
  calories,
  numberOfServings,
  keyDetails,
  steps,
  tips,
  nutrition,
} = Astro.props;
---

<hr class="mb-8 border-gray-500" />
<h1 class="font-serif text-5xl pb-4">{title}</h1>
<!-- <div class="h-8 w-24 bg-slate-400">Reviews</div> -->

<slot />

<!-- keyDetails, time to cook etc -->
<div class="w-full pt-4 flex gap-2 justify-between flex-col xl:flex-row">
  <div class="w-full xl:w-4/6">
    <img src={feature_image} alt={`${title} feature image`} class="w-full" />
  </div>

  <RecipeKeyDetails
    {...keyDetails}
    cookingTimeInMins={cookingTimeInMins}
    calories={calories}
    numberOfServings={numberOfServings}
  />
</div>

<hr class="my-8 border-gray-500" />

<!-- Ingredients list -->
<div class="">
  <h3 class="font-serif text-3xl">Ingredients</h3>
  {
    ingredients_sections.map((section, index) => (
      <>
        {ingredients_sections.length > 1 && <h4 class="font-serif text-2xl">{section.section_name}</h4>}
        <ul>
          {section.ingredients.map(({ ingredient, qty, unit }, index) => (
            <li class="py-2">
              <>
                <input type="checkbox" class="mr-2" id={`ingredient-${index}`} />
                <label for={`ingredient-${index}`}>
                  {qty}
                  {unit} {ingredient}
                </label>
              </>
            </li>
          ))}
        </ul>
      </>
    ))
  }
</div>

<hr class="my-8 border-gray-500" />

<!-- Steps -->
<div class="">
  <h3 class="font-serif text-3xl">Steps</h3>
  <ol class="list-decimal ml-4">
    {
      steps.map(({ step, tip }, index) => (
        <li class="py-2">
          {step} <i>{tip}</i>
        </li>
      ))
    }
  </ol>
</div>

<hr class="my-8 border-gray-500" />

<!-- Tips -->

<div class="">
  <h3 class="font-serif text-3xl">Tips</h3>
  <ul>
    {tips.map(({ tip }, index) => <li class="py-2">{tip}</li>)}
  </ul>
</div>

<!-- Nutrition -->
{
  nutrition && Object.entries(nutrition).filter(([_, value]) => value && value > 0).length > 0 && (
    <>
      <hr class="my-8 border-gray-500" />
      <div class="">
        <h3 class="font-serif text-3xl">Nutrition</h3>
        <ul>
          {nutrition &&
            Object.entries(nutrition)
              .filter(([_, value]) => value && value > 0)
              .map(([key, value]) => (
                <li>
                  {key}: {value}
                </li>
              ))}
        </ul>
      </div>
    </>
  )
}

<hr class="my-8 border-gray-500" />

<RelatedRecipes />

<hr class="my-8" />
